@model SquadEvent.Models.RoundSquadFormViewModel

<input type="hidden" asp-for="Squad.Number" />
<input type="hidden" asp-for="Squad.RoundSideID" />

<h4>Informations générales</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="Squad.Name" class="control-label"></label>
            <input asp-for="Squad.Name" class="form-control" />
            <span asp-validation-for="Squad.Name" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                @if (Model.Squad.Side.MatchSide.SquadsPolicy == SquadEvent.Entities.SquadsPolicy.SquadsAndSlotsRestricted)
                {
                    <input class="form-check-input" asp-for="Squad.RestrictTeamComposition" disabled />
                }
                else
                {
                    <input class="form-check-input" asp-for="Squad.RestrictTeamComposition" />
                }
                @Html.DisplayNameFor(model => model.Squad.RestrictTeamComposition)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Squad.InviteOnly" /> @Html.DisplayNameFor(model => model.Squad.InviteOnly)
            </label>
        </div>
    </div>
</div>

<h4>Emplacements</h4>
<hr />

@for (int i = 0; i < Model.Squad.Slots.Count; ++i)
{
    <div class="form-row">
        <input type="hidden" asp-for="Squad.Slots[i].RoundSlotID" />
        <input type="hidden" asp-for="Squad.Slots[i].SlotNumber" />
        <input type="hidden" asp-for="Squad.Slots[i].MatchUserID" />
        <div class="form-group col-md-2">
            @if (i == 0)
            {
                <label asp-for="Squad.Slots[i].Role"></label>
                <input type="hidden" asp-for="Squad.Slots[i].Role" />
                <select asp-for="Squad.Slots[i].Role" asp-items="Html.GetEnumSelectList<SquadEvent.SquadGameInfos.FireTeamRole>()" class="form-control" disabled></select>
            }
            else
            {
                <label asp-for="Squad.Slots[i].Role" class="control-label sr-only"></label>
                <select asp-for="Squad.Slots[i].Role" asp-items="Html.GetEnumSelectList<SquadEvent.SquadGameInfos.FireTeamRole>()" class="form-control role">
                    <option value="">(Fermé)</option>
                </select>
                <span asp-validation-for="Squad.Slots[i].Role" class="text-danger"></span>
            }
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Squad.Slots[i].AssignedKit" class="control-label @(i>0?"sr-only":"")"></label>
            <select asp-for="Squad.Slots[i].AssignedKit" asp-items="Html.GetEnumSelectList<SquadEvent.SquadGameInfos.Kit>()" class="form-control kit">
                <option value="">(Non précisé)</option>
            </select>
            <span asp-validation-for="Squad.Slots[i].AssignedKit" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Squad.Slots[i].Label" class="control-label @(i>0?"sr-only":"")"></label>
            <input asp-for="Squad.Slots[i].Label" class="form-control" />
            <span asp-validation-for="Squad.Slots[i].Label" class="text-danger"></span>
        </div>
    </div>
}



