/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    color: #000c14;
    background-color: #e2e2dc;
    font-family: 'roboto';
}

main {
    background-color: white;
    padding: 1em;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #000c14;
}
/*
.btn-primary {
    color: #fff;
    background-color: #e8ab12;
    border-color: #e8ab12;
}

.btn-primary:hover {
    border-color: #FFAA00;
    color: #fff;
    background: #FFAA00;
}

.btn-outline-primary {
    border-color: #e8ab12;
    color: #e8ab12;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #e8ab12;
    border-color: #e8ab12;
}

.badge-primary {
    color: #fff;
    background-color: #e8ab12;
}

a.badge-primary:hover, a.badge-primary:focus {
    color: #fff;
    background-color: #FFAA00;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #e8ab12;
}
    */
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

img.factionflag {
    margin-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    height:1.5em;
}


select option {
    font-family: Arial;
}

select option:disabled {
    color: #c0c0c0;
}

div.title {
    background-image: url(http://qrf-reality.fr/media/2107/satisfied-soldiers-1400727d.jpg);
    background-position: 50% 50%;
    background-size: cover;
    margin-top: -1em;
    margin-bottom: 1em;
}

main div.title {
    background-image: url(http://qrf-reality.fr/media/1810/back_home.jpg);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -1em;
    margin-right: -1em;
}

main div.title.players {
    background-image: url(http://qrf-reality.fr/media/2404/apowmid-2017-044-ex-askari-storm-2916052.jpg);
}

div.title h1, div.title h2, div.title h3 {
    padding: 2em 1em;
    margin: 0;
    text-align: center;
}

div.title h1 span, div.title h2 span, div.title h3 span {
    color: white;
    text-shadow: 3px 3px 8px black;
    font-weight: bold;
}

div.title p {
    margin-bottom: -4.3em;
    padding-top: 4em;
    text-align: center;
    font-size: 120%;
}

div.title p span {
    color: white;
    text-shadow: 3px 3px 8px black;
}

main div.title p {
    margin-bottom: -4.2em;
    font-size: 100%;
    text-align: center;
}

main.home {
    background-color: #e2e2dc;
}

h1{font-weight: bold;}
/*
.SquadLeader, .Alpha {
    background-color: #3FFF00;
}
*/
.BravoLeader, .Bravo {
    background-color: #C376DB;
}
.CharlieLeader, .Charlie {
    background-color: #5BE9B6;
}