[Unit]
Description=SquadEvent

[Service]
WorkingDirectory=/var/www/SquadEvent
ExecStart=/var/www/SquadEvent/SquadEvent --urls http://localhost:5010/
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=SquadEvent
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install]
WantedBy=multi-user.target
