@model SquadEvent.Models.MatchFormViewModel

@{
    ViewData["Title"] = "Créer un événement";
}

@section NavBar  { 
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">Evénements</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav> 
}

@section Title { <h1><span>@ViewData["Title"]</span></h1> }

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{await Html.RenderPartialAsync("_MatchForm");}
    <div class="form-group">
        <input type="submit" value="Créer" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_HtmlEditor");}
    <script src="~/js/matchform.js"></script>
}
